@media (min-width: 991px) and (max-width: 1199px) {
  .banner {
    text-align: center;
  }
  .banner-img {
    height: 100%;
  }
  .banner-zara {
    padding: 10px;
    text-align: center;
  }
  .banner-contact {
    padding: 10px;
    text-align: center;
  }
  .banner-logo {
    display: none;
  }
  #header-carousel {
    display: none;
  }
  .contact {
    background: white;
  }
  .about-banner {
    background: white;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .banner {
    text-align: center;
  }
  .banner-img {
    height: 100%;
  }
  .banner-zara {
    padding: 10px;
    text-align: center;
  }
  .banner-contact {
    padding: 10px;
    text-align: center;
  }
  .banner-logo {
    display: none;
  }
  #header-carousel {
    display: none;
  }
  .contact {
    background: white;
  }

  .about-banner {
    background: white;
  }
}

@media (max-width: 767px) {
  .banner {
    text-align: center;
  }

  .banner-img {
    height: 100%;
  }

  .banner-zara {
    padding: 10px;
    text-align: center;

  }

  .banner-contact {
    padding: 10px;
    text-align: center;
  }

  .banner-logo {
    display: none;
  }

  #header-carousel {
    display: none;
  }

  .contact {
    background: white;
  }

  .about-banner {
    background: white;

  }

}
@media (min-width: 992px) and (max-width: 1300px){
  .nav-item,.nav-link {
    font-size: 15px!important;
  }
}
@media (min-width: 1200px) {

  .banner-contact {
    position: absolute;
    padding: 40px;
    top: 20px;
    max-width: 47%;
  }


}