*{
    padding: 0px;
    margin: 0px;
    font-size: 20px;

}
.center{
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px
}
b{
    font-size: 25px;
}
p{  
    text-align: justify;
    font-size: 20px;
}
.img1{
    height: 100%;
    width: 100%;
}
.b1{
    padding-bottom: 20px;
}
.ter{
    padding-top: 20px;
}
.text1{
    margin-bottom: 20px;
}
.text2{
    margin-top: 40px;
}
.img2{
    height: 100%;
    width: 100%;
    margin-bottom: -80px;
}
