<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Zara Therapy Clinic</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content name="keywords">
        <meta content name="description">

        <!-- Favicon -->
        <link href="img/logo.png" rel="icon">

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@500;700&display=swap"
            rel="stylesheet">
        <script src="js/angular.min.js"></script>
        <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <!-- Icon Font Stylesheet -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
            rel="stylesheet">
        <script src="https://kit.fontawesome.com/5c0abb1169.js"
            crossorigin="anonymous"></script>
        <!-- Libraries Stylesheet -->
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css"
            rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'
            rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Customized Bootstrap Stylesheet -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
            crossorigin="anonymous">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- <script src="js/login.js"></script> -->
        <script src="js/login-form.js"></script>

    </head>

    <body ng-app="myApp">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" role="status"
                style="width: 3rem; height: 3rem;"></div>
        </div>
        <!-- Spinner End -->

        <!-- Topbar Start -->

        <!-- Topbar End -->

        <!-- Navbar Start -->
        <div class="container-fluid bg-white sticky-top">
            <div class="d-flex justify-content-center nav-header">
                <nav
                    class="navbar navbar-expand-lg bg-white navbar-light p-lg-0">

                    <a href="index.html" class="navbar-brand pb-3 px-4 pt-3">
                        <img src="img/logo_navbar.png" height="50px" alt>
                    </a>
                    <button type="button" class="navbar-toggler me-0"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="#/" class="nav-item nav-link">Home</a>
                            <a href="#!about" class="nav-item nav-link">About us</a>
                            <div class="nav-item dropdown">
                                <a href="#services"
                                    class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown">Services</a>
                                <div
                                    class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="#!chiropractic"
                                        class="dropdown-item">Chiropractic</a>
                                    <a href="#!osteopathy" class="dropdown-item">Osteopathy</a>
                                    <a href="#!physical" class="dropdown-item">Physical
                                        Therapy</a>
                                    <a href="#!work" class="dropdown-item">Work
                                        Injuries & Car</a>
                                    <a href="#!acupuncture"
                                        class="dropdown-item">Acupuncture</a>
                                    <a href="#!massage" class="dropdown-item">Massages</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#product"
                                    class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown">Products</a>
                                <div
                                    class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="#!helping" class="dropdown-item">Helping
                                        Machines</a>
                                    <a href="#!accessories"
                                        class="dropdown-item">Accessories</a>
                                    <a href="#!lotions" class="dropdown-item">Lotions</a>
                                    <a href="#!essentials" class="dropdown-item">Essential
                                        oils</a>
                                </div>
                            </div>
                            <div class="nav-item dropdown">
                                <a href="#news" class="nav-link dropdown-toggle"
                                    data-bs-toggle="dropdown">News</a>
                                <div
                                    class="dropdown-menu bg-light rounded-0 rounded-bottom m-0">
                                    <a href="#!news" class="dropdown-item">Health
                                        Blog</a>
                                    <a href="#!feedback" class="dropdown-item">Testimonials</a>
                                </div>
                            </div>

                            <a href="#booking" class="nav-item nav-link">Booking</a>
                            <a href="#!contact" class="nav-item nav-link">Contact
                                Us</a>
                            <!-- <input class="search" type="search" placeholder=" Search"
                            style="margin-top: 20px; margin-bottom: 20px;border-radius: 10px;"> -->
                            <a href="#" class="nav-item nav-link px-4"
                                data-bs-toggle="modal"
                                data-bs-target="#modalCart"
                                id="cart"><i class="fa-solid fa-shopping-cart"></i>
                                Cart</a>
                            <a href="#" class="nav-item nav-link px-4"
                                id="btn-hide" data-bs-toggle="modal"
                                data-bs-target="#authModal"><i
                                    class="fa-regular fa-user"></i></a>
                            <div class="nav-item dropdown px-5">
                                <a href="#" class="nav-link dropdown-toggle"
                                    id="nav-name" style="display:none;">Hello,
                                    <span id="fullnameOutput"
                                        class="text-primary"></span>
                                </a>
                                <div
                                    class="dropdown-menu bg-light rounded-0 rounded-bottom m-0"
                                    id="change">
                                    <a href="#" class="dropdown-item"
                                        id="changename">Change Name</a>
                                    <a href="#" class="dropdown-item"
                                        id="changepassword">Change Password</a>
                                    <a href="/" class="dropdown-item"
                                        id="logoutLink">Log Out</a>

                                </div>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="modalCart" class="modal fade" tabindex="-1"
            aria-labelledby="changeNameModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeNameModalLabel">Shopping
                            Cart</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <cart-items></cart-items>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <span id="checkout-alert" class="text-center">Please
                            Login To Checkout</span>
                        <button class="btn btn-primary text-center"
                            id="btn-checkout"
                            onclick="checkoutAndCloseModal()">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal using to change names -->
        <div id="changeNameModal" class="modal fade" tabindex="-1"
            aria-labelledby="changeNameModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changeNameModalLabel">Change
                            Info</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="changeNameForm">
                            <div class="mb-3">
                                <label for="newNameInput" class="form-label">New
                                    Name</label>
                                <input type="text" class="form-control"
                                    id="newNameInput">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal using to change password -->
        <div class="modal fade" id="changePasswordModal" tabindex="-1"
            role="dialog"
            aria-labelledby="changePasswordModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordModalLabel">Change
                            Password</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="changePasswordForm">
                            <div class="mb-3">
                                <label for="newPasswordInput">New Password</label>
                                <input type="password" class="form-control"
                                    id="newPasswordInput" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Save
                                Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal using to login and register -->

        <div class="modal fade" id="authModal" tabindex="-1"
            aria-labelledby="authModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="authModalLabel">Log in /
                            Register</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" id="registerTab"
                                    data-bs-toggle="tab" href="#loginForm">Log
                                    in</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="loginTab"
                                    data-bs-toggle="tab" href="#registerForm">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-3">

                            <div class="tab-pane fade  show active"
                                id="loginForm">
                                <!-- Login Form -->
                                <form id="loginForm">

                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="loginPhone">Phone</label>

                                                <input type="text"
                                                    id="loginPhone"
                                                    name="loginPhone"
                                                    class="form-control form-control-lg" />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="loginPassword">Password</label>

                                                <input type="password"
                                                    id="loginPassword"
                                                    name="loginPassword"
                                                    class="form-control form-control-lg" />
                                            </div>

                                        </div>
                                        <p id="message2"></p>

                                    </div>

                                    <div style="text-align: center;">
                                        <input class="btn btn-primary"
                                            type="submit" value="Sign In" />
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="registerForm">
                                <!-- Register Form -->
                                <form id="registerForm" name="myForm">

                                    <div class="row">
                                        <div class="col-md-12 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="fullname">Your Name</label>

                                                <input type="text" id="fullname"
                                                    name="fullname"
                                                    placeholder="Enter your name"
                                                    class="form-control form-control-lg"
                                                    required />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="fullname">Email</label>

                                                <input type="text" id="emails"
                                                    name="email"
                                                    placeholder="Enter your email"
                                                    class="form-control form-control-lg"
                                                    required />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="phone">Phone</label>

                                                <input type="number" id="phone"
                                                    name="phone"
                                                    placeholder="Enter your phone"
                                                    class="form-control form-control-lg"
                                                    required />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="password">Password</label>

                                                <input type="password"
                                                    id="password"
                                                    name="password"
                                                    placeholder="Enter your password"
                                                    class="form-control form-control-lg"
                                                    required />
                                            </div>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <div class="form-outline">
                                                <label class="form-label"
                                                    for="password">Confirm
                                                    Password</label>

                                                <input type="password"
                                                    id="cfpassword"
                                                    name="cfpassword"
                                                    placeholder="Confirm your password"
                                                    class="form-control form-control-lg"
                                                    required />
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="radio"
                                                        name="gender" required>
                                                    Male
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio"
                                                        name="gender" required>
                                                    Female
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="radio"
                                                        name="gender" required>
                                                    Other
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p id="message" class="mt-3"></p>
                                    <div style="text-align: center;">
                                        <input class="btn btn-primary btn-lg"
                                            type="submit" value="Sign Up" />
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Navbar End -->

        <div ng-view></div>

        <!-- Quote Start -->
        <!-- Link to Bootstrap JS -->
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Custom JavaScript -->
        <script>
        function checkoutAndCloseModal() {
            // navigating to other pages
            window.location.href = "#!cart";

            // shutdown modal
            var modal = document.getElementById("modalCart");
            var modalInstance = bootstrap.Modal.getInstance(modal);
            modalInstance.hide();
        }
    </script>
        <script>
        document.addEventListener('DOMContentLoaded', function () {
            const thumbnailImages = document.querySelectorAll('.thumbnail');
            const productImage = document.getElementById('product-image');

            thumbnailImages.forEach(function (thumbnail) {
                thumbnail.addEventListener('click', function () {
                    const imagePath = thumbnail.getAttribute('src');
                    productImage.setAttribute('src', imagePath);
                });
            });

            thumbnailImages.forEach(function (thumbnail) {
                thumbnail.addEventListener('click', function () {
                    thumbnailImages.forEach(function (thumb) {
                        thumb.classList.remove('active');
                    });
                    thumbnail.classList.add('active');
                });
            });
        });
    </script>
        <script>
        var app = angular.module("myApp", ["ngRoute"]);
        app.config(function ($routeProvider) {
            $routeProvider
                .when("/", {
                    templateUrl: "home.html"
                })
                .when("/about", {
                    templateUrl: "about/about.html"
                })
                .when("/feedback", { 
                    templateUrl: "Zara_feedback/feedback.html" 
                })
                .when("/contact", { 
                    templateUrl: "Zara_ContactUs/contact.html" 
                })
                .when("/news", { 
                    templateUrl: "Zara_News/news.html" 
                })
                .when("/news1", { 
                    templateUrl: "Zara_News/new1_detail.html" 
                })
                .when("/news2", { 
                    templateUrl: "Zara_News/new2_detail.html" 
                })
                .when("/news3", { 
                    templateUrl: "Zara_News/new3_detail.html" 
                })
                .when("/news4", { 
                    templateUrl: "Zara_News/new4_detail.html" 
                })
                .when("/news5", { 
                    templateUrl: "Zara_News/new5_detail.html" 
                })
                .when("/news6", { 
                    templateUrl: "Zara_News/new6_detail.html" 
                })
                .when("/acupuncture", { 
                    templateUrl: "Zara_services/acupuncture.html" 
                })
                .when("/massage", { 
                    templateUrl: "Zara_services/massage.html" 
                })
                .when("/services", { 
                    templateUrl: "Zara_services/service.html" 
                })
                .when("/chiropractic", { 
                    templateUrl: "Zara_services/chiropractic.html" 
                })
                .when("/osteopathy", { 
                    templateUrl: "Zara_services/osteopathy.html" 
                })
                .when("/physical", { 
                    templateUrl: "Zara_services/physical.html" 
                })
                .when("/work", { 
                    templateUrl: "Zara_services/work.html"
                })
                .when("/cart", {
                    templateUrl: "cart.html"
                })
                .when("/checkout", {
                    templateUrl: "checkout.html",
                    controller: 'CheckoutController'
                })
                .when("/helping", {
                    templateUrl: "/product/products.html",
                    controller: 'ProductController'
                })
                .when("/essentials", {
                    templateUrl: "/product/essentials.html",
                    controller: 'EssentialController'
                })
                .when("/lotions", {
                    templateUrl: "/product/lotions.html",
                    controller: 'LotionController'
                })
                .when("/accessories", {
                    templateUrl: "/product/accessories.html",
                    controller: 'AccessorieController'
                })
                .when('/lotions/:lotionName', {
                    templateUrl: '/product/lotion-detail.html',
                    controller: 'LotionDetailController'
                })
                .when('/helping/:productName', {
                    templateUrl: '/product/product-detail.html',
                    controller: 'ProductDetailController'
                })
                .when('/essentials/:essentialName', {
                    templateUrl: '/product/essential-detail.html',
                    controller: 'EssentialDetailController'
                })
                .when('/accessories/:accessorieName', {
                    templateUrl: '/product/accessories-detail.html',
                    controller: 'AccessorieDetailController'
                });
                
        });

        app.controller("myController0", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.Acupuncture;
                $scope.service = {};
                console.log($scope.myData)
            });
        });
        app.controller("myController1", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.Massage;
                $scope.service = {};
                console.log($scope.myData)
            });
        });
        app.controller("myController2", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.osteopathy;
                $scope.service = {};
                console.log($scope.myData)
            });
        });
        app.controller("myController3", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.chiropractic;
                $scope.service = {};
                console.log($scope.myData)
            });
        });
        app.controller("myController4", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.physical;
                $scope.service = {};
                console.log($scope.myData)
            });
        });
        app.controller("myController5", function ($scope, $http) {
            $http.get("/json/service.json").then(function (response) {
                $scope.myData = response.data.work;
                $scope.service = {};
                console.log($scope.myData)
            });
        });

        app.controller('CheckoutController', function ($http) {
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function () {
                'use strict'

                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation')

                    // Loop over them and prevent submission
                    Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault()
                                event.stopPropagation()
                            }
                            form.classList.add('was-validated')
                        }, false)
                    })
                }, false)
            }())
        })
        app.controller('ProductController', function ($scope, $http, CartService) {
            $http.get('/json/products.json').then(function (response) {
                $scope.products = response.data.product;
            });

            $scope.quantity = 1;

            $scope.addToCart = function (product) {
                var itemToAdd = angular.copy(product);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('ProductDetailController', function ($scope, $http, $routeParams, CartService) {
            var productName = $routeParams.productName;

            $http.get('/json/products.json').then(function (response) {
                $scope.products = response.data.product;
                $scope.product = $scope.products.find(function (product) {
                    return product.name === productName;
                });
            });

            $scope.selectThumbnail = function (thumbnail) {
                $scope.product.image = thumbnail;
            };

            $scope.quantity = 1;

            $scope.addToCart = function (product) {
                var itemToAdd = angular.copy(product);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('LotionController', function ($scope, $http, CartService) {
            $http.get('/json/lotions.json').then(function (response) {
                $scope.lotions = response.data.lotion;
            });
            $scope.quantity = 1;

            $scope.addToCart = function (lotion) {
                var itemToAdd = angular.copy(lotion);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('LotionDetailController', function ($scope, $http, $routeParams, CartService) {
            var lotionName = $routeParams.lotionName;

            $http.get('/json/lotions.json').then(function (response) {
                $scope.lotions = response.data.lotion;
                $scope.lotion = $scope.lotions.find(function (lotion) {
                    return lotion.name === lotionName;
                });
            });

            $scope.selectThumbnail = function (thumbnail) {
                $scope.lotion.image = thumbnail;
            };
            $scope.quantity = 1;

            $scope.addToCart = function (lotion) {
                var itemToAdd = angular.copy(lotion);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('EssentialController', function ($scope, $http, CartService) {
            $http.get('/json/essentials.json').then(function (response) {
                $scope.essentials = response.data.essential;
            });
            $scope.quantity = 1;

            $scope.addToCart = function (essential) {
                var itemToAdd = angular.copy(essential);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('EssentialDetailController', function ($scope, $http, $routeParams, CartService) {
            var essentialName = $routeParams.essentialName;

            $http.get('/json/essentials.json').then(function (response) {
                $scope.essentials = response.data.essential;
                $scope.essential = $scope.essentials.find(function (essential) {
                    return essential.name === essentialName;
                });
            });

            $scope.selectThumbnail = function (thumbnail) {
                $scope.essential.image = thumbnail;
            };
            $scope.quantity = 1;

            $scope.addToCart = function (essential) {
                var itemToAdd = angular.copy(essential);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('AccessorieController', function ($scope, $http, CartService) {
            $http.get('/json/accessories.json').then(function (response) {
                $scope.accessories = response.data.accessorie;
            });

            $scope.quantity = 1;

            $scope.addToCart = function (accessorie) {
                var itemToAdd = angular.copy(accessorie);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.controller('AccessorieDetailController', function ($scope, $http, $routeParams, CartService) {
            var accessorieName = $routeParams.accessorieName;

            $http.get('/json/accessories.json').then(function (response) {
                $scope.accessories = response.data.accessorie;
                $scope.accessorie = $scope.accessories.find(function (accessorie) {
                    return accessorie.name === accessorieName;
                });
            });

            $scope.selectThumbnail = function (thumbnail) {
                $scope.accessorie.image = thumbnail;
            };

            $scope.quantity = 1;

            $scope.addToCart = function (accessorie) {
                var itemToAdd = angular.copy(accessorie);
                itemToAdd.quantity = $scope.quantity;
                CartService.addToCart(itemToAdd);
            };
        });

        app.service("CartService", function () {
            var cartItems = [];
            var cartItems = [];
            var couponCode = "friendlyZara"; // code for coupon
            var discount = 0; // discount value
            this.applyCoupon = function (code) {
                // checking if coupon code is valid
                if (code === "friendlyZara") {
                    couponCode = code;
                    discount = 0.1; // discount 10%
                } else {
                    couponCode = "";
                    discount = 0;
                    alert("Your coupon is not valid.")
                }
            };

            this.getTotalPriceWithDiscount = function () {
                var totalPrice = this.getTotalPrice();
                var discountedPrice = totalPrice - (totalPrice * discount);
                return discountedPrice.toFixed(2);
            };
            this.addToCart = function (item) {
                var existingItem = cartItems.find(function (cartItem) {
                    return cartItem.name === item.name;
                });

                if (existingItem) {
                    existingItem.quantity += item.quantity;
                } else {
                    cartItems.push(angular.copy(item));
                }

                this.saveCartItems();
            };

            this.removeFromCart = function (item) {
                var index = cartItems.findIndex(function (cartItem) {
                    return cartItem.name === item.name;
                });

                if (index !== -1) {
                    cartItems.splice(index, 1);
                    this.saveCartItems();
                }
            };

            this.getCartItems = function () {
                this.loadCartItems();
                return cartItems;
                return cartItem;
            };

            this.getTotalPrice = function () {
                var totalPrice = 0;
                for (var i = 0; i < cartItems.length; i++) {
                    var item = cartItems[i];
                    totalPrice += item.price * item.quantity;
                }
                return totalPrice.toFixed(2);
            };

            this.saveCartItems = function () {
                localStorage.setItem("cartItems", JSON.stringify(cartItems));
                localStorage.setItem("cartItem", JSON.stringify(cartItem));
            };

            this.loadCartItems = function () {
                var storedCartItems = localStorage.getItem("cartItems");
                var storedCartItem = localStorage.getItem("cartItem");
                if (storedCartItems) {
                    cartItems = JSON.parse(storedCartItems);
                    cartItem = JSON.parse(storedCartItem);
                }
            };
        });

        app.directive("cartItems", function () {
            return {
                restrict: "E",
                template: `
                <div class="container">
    <div class="row"  style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
        <div ng-repeat="item in cartItems"  style="display:flex;">
        <div class="col-lg-3 pb-3 pb-3">
            <img src="{{ item.image }}" alt="{{ item.name }}" width="50px" height="50px">
        </div>
        <div class="col-lg-8 pb-3">
            <div class="row">
                <div class="col-lg-12">
                    <span style="word-break: break-word;">{{ item.name }}</span>

                </div>
            </div>
                <div class="row">

                <div class="col-lg-12">
                    <span>{{ item.quantity }} x \${{ item.price }}</span>

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-danger" ng-click="removeItem(item)">X</button>
        </div>
        </div>
    </div>
    
    
</div>
            `,
                controller: function ($scope, CartService) {
                    $scope.cartItems = CartService.getCartItems();
                    $scope.totalPrice = CartService.getTotalPrice();

                    $scope.calculator = function (item) {
                        $scope.totalPrice = CartService.getTotalPrice();

                    };
                    $scope.removeItem = function (item) {
                        CartService.removeFromCart(item);
                        $scope.totalPrice = CartService.getTotalPrice();

                    };
                }
            };
        });
        app.directive("cartItem", function () {
            return {
                restrict: "E",
                template: `
                    <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody ng-repeat="item in cartItems">

                <tr>
                    <th scope="row" class="border-0">
                      <div class="p-2">
                        <img src="{{ item.image }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                        <div class="ml-3 d-inline-block align-middle">
                          <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.name }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">Category: </span>
                        </div>
                      </div>
                    </th>
                    <td class="border-0 align-middle"><strong>\${{ item.price }}</strong></td>
                    <td class="border-0 align-middle"><strong><input type="number" ng-model="item.quantity" ng-change="updateTotalPrice()" min="1"></strong></td>
                    <td class="border-0 align-middle"><a class="text-dark" ng-click="removeItem(item)"><i class="fa fa-trash"></i></a></td>
                  </tr>

                </tbody>
              </table>
            `,
                controller: function ($scope, CartService) {
                    $scope.cartItems = CartService.getCartItems();
                    $scope.updateTotalPrice = function () {
                        $scope.totalPrice = CartService.getTotalPrice();
                        $scope.totalPrice2 = CartService.getTotalPrice();
                        
                    };
                    $scope.totalPrice = CartService.getTotalPrice();
                    $scope.totalPrice2 = CartService.getTotalPrice();
                    $scope.applyCoupon = function () {
                        CartService.applyCoupon($scope.couponCode);
                        $scope.totalPrice2 = CartService.getTotalPriceWithDiscount();
                    };
                    $scope.removeItem = function (item) {
                        CartService.removeFromCart(item);
                        $scope.totalPrice2 = CartService.getTotalPrice();
                        $scope.totalPrice = CartService.getTotalPrice();

                    };
                }
            };
        });
    </script>
        <script>
        document.addEventListener("DOMContentLoaded", function () {
            var menuLinks = document.querySelectorAll("#menu a.nav-link");

            for (var i = 0; i < menuLinks.length; i++) {
                menuLinks[i].addEventListener("click", function (event) {
                    event.preventDefault();
                    var target = this.getAttribute("href");
                    var offset = document.querySelector(target).offsetTop;
                    var offset = document.querySelector(target).offsetTop - 100;
                    window.scrollTo({
                        top: offset,
                        behavior: "smooth"
                    });
                });
            }
        });
    </script>

        <!-- Footer Start -->
        <div class="container-fluid bg-white footer pb-5 wow fadeIn"
            data-wow-delay="0.1s">
            <div class="container-xxl">
                <div class="row g-5">
                    <div class="col-lg-4 col-md-5">
                        <h4 class="text-dark mb-4">Contact</h4>
                        <b>Please feel free to contact us</b>
                        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>294
                            Nam Ky Khoi Nghia Street, Ward 8,
                            District 3, Ho Chi Minh City</p>
                        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>1900.123.123</p>
                        <p class="mb-2"><i class="fa fa-envelope me-3"></i>zaratherapyclinic@gmail.com</p>
                        <p class="mb-2 view-online"><i class="fa fa-user me-3">
                            </i> View online: <span id="view-online"></span>
                        </p>

                    </div>
                    <div class="col-lg-2 col-md-5">
                        <h4 class="text-dark mb-4">Products</h4>
                        <a href="#!helping" class="btn btn-link">Helping
                            Machines</a>
                        <a href="#!accessories" class="btn btn-link">Accessories</a>
                        <a href="#!lotions" class="btn btn-link">Lotions</a>
                        <a href="#!essentials" class="btn btn-link">Essential
                            oils</a>

                    </div>
                    <div class="col-lg-3 col-md-5">
                        <h4 class="text-dark mb-4">Zara Therapy Clinic</h4>
                        <!-- <p class="mb-1">Zara Therapy Clinic</p> -->
                        <p class="mb-1">Providing the best services and products
                            without using any medicines in Vietnam.</p>
                        <h6 class="text-dark">&copy;Copyright 2023 - Zara
                            Therapy Clinic</h6>
                                
                        <!-- <br> -->
                        <div id="current-time"></div>
                        <script>
                            const outputDom = document.getElementById("current-time")
                            function getCurrentDateAsString() {
                                var curDate = new Date();
    
                                // Ngày hiện tại
                                var curDay = curDate.getDate();
    
                                // Tháng hiện tại
                                var curMonth = curDate.getMonth() + 1;
    
                                // Năm hiện tại
                                var curYear = curDate.getFullYear();
    
                                //Thời gian hiện tại
                                var Hours = curDate.getHours();
                                var Minutes = curDate.getMinutes();
    
                                // Set PM / AM
                                var period = "";
                                if (Hours >= 12) {
                                    period = "PM";
                                } else {
                                    period = "AM";
                                }
    
                                // Set 12 hours
                                if (Hours == 0) {
                                    Hours = 12;
                                } else {
                                    if (Hours > 12) {
                                        Hours = Hours - 12;
                                    }
                                }
    
                                return "Date: " + curDay + "/" + curMonth + "/" + curYear + " - Time: " + Hours + ":" + Minutes + " " + period;
                            }
                            async function getLocation() {
                                return new Promise((resolve, reject) => {
                                    navigator.geolocation.getCurrentPosition(resolve, reject);
                                }).then((position) => {
                                    const lat = position.coords.latitude;
                                    const long = position.coords.longitude;
                                    return " - Latitude: " + lat + " - Longitude: " + long;
                                }).catch((err) => {
                                    console.error(err.message);
                                    return undefined;
                                });
                            }
                            document.addEventListener("DOMContentLoaded", async function () {
                                const LocationNow = await getLocation();
                                const CurrentDate = getCurrentDateAsString();
                                outputDom.innerHTML = CurrentDate + LocationNow;
                            });
                        </script>

                        <!-- <a style="margin-top: 10px;" onclick="getLocation()">Your location</a>

                        <p id="location"></p>

                        <script>
                    var x = document.getElementById("location");

                    function getLocation() {
                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(showPosition);
                    } else { 
                        x.innerHTML = "Geolocation is not supported by this browser.";
                    }
                    }

                    function showPosition(position) {
                    x.innerHTML = "Latitude: " + position.coords.latitude + 
                    "<br>Longitude: " + position.coords.longitude;
                    } -->

                    <!-- <p id="location"></p>

                    <script>
                        var x = document.getElementById("location");
                        // document.getElementById('location').innerHTML = "x";
                        x.innerHTML = "Latitude: " + position.coords.latitude + 
                            "<br>Longitude: " + position.coords.longitude;
                    </script> -->

                    </div>

                    <div class="col-lg-3 col-md-7">
                        <h4 class="text-dark mb-4">Address</h4>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.273125983394!2d106.6836567!3d10.790381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d34a704ab7%3A0xe4e75cbec27ea20f!2zMjk0IMSQLiBOYW0gS-G7syBLaOG7n2kgTmdoxKlhLCBQaMaw4budbmcgOCwgUXXhuq1uIDMsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1683446992468!5m2!1svi!2s"
                            width="270px" height="160px" style="border:0;"
                            allowfullscreen loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>
        </div>
        <!-- Footer End -->
        <script>
        document.getElementById("view-online").innerHTML = Math.floor(Math.random() * 501) + 1500;
        </script>

        <button
            class="btn btn-lg btn-primary btn-lg-square rounded-circle popup-button"
            data-bs-toggle="modal"
            data-bs-target="#contactModal">
            <i class="fa fa-phone"></i>

        </button>
        <div class="modal fade" id="contactModal" tabindex="-1"
            aria-labelledby="contactModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="w-100 text-center">
                            <h5 class="modal-title text-primary"
                                id="contactModalLabel">Contact Hotline</h5>
                        </div>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Zara Therapy Clinic Ho Chi Minh: <a
                                href="tel:+1900123123">1900-123-123</a></p>
                        <p>Zara Therapy Clinic Ha Noi: <a href="tel:+1900123456">1900-123-456</a></p>
                        <p>Zara Therapy Clinic Da Nang: <a
                                href="tel:+1900123789">1900-123-789</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Back to Top -->
        <a href="#"
            class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
            <i class="bi bi-arrow-up"></i>
        </a>
        <!-- Start of LiveChat (www.livechat.com) code -->
        <script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acrquwfnpwawnmljetuz")</script>
        <!-- End of LiveChat code -->

        <!-- JavaScript Libraries -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/lightbox/js/lightbox.min.js"></script>
        <script src="js/booking.js"></script>
        <script src="js/viewmore.js"></script>
        <script src="js/products.js"></script>
        <script src="js/contact.js"></script>

        <!-- Template Javascript -->

        <script src="js/main.js"></script>
    </body>

</html>