*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-size: 18px;

}
.center{
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
h2{
    text-align: center;
    padding-top: 25px;
}
.img1{
    height: 100%;
    width: 100%;
}
.x1{
    padding-top: 10px;
}
.a2{
    padding-top: 20px; 
    font-size: 20px;
}

.img2{
    height: 100%;
    width: 100%;
}
.video{
   height: 100%;
   width: 100%;
}
div{
    display: block;
    text-align: justify;   
}
.all{
    padding-left: 10px;
    padding-right: 10px;
}