<div>
  <img style=" width: 100%; " src="/img/product/Accessories-bg.png" alt="">
</div>
<div class="container-xxl pt-5 pb-5">
    <div class="container" ng-controller="AccessorieDetailController">
        <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img id="product-image" ng-src="{{ accessorie.image }}" alt="Product Image" class="product-image">
            </div>
          </div>
          <div class="col-lg-12 text-center thumbnail-images">
            <img class="thumbnail" ng-repeat="thumbnail in accessorie.thumbnails" ng-src="{{thumbnail}}" alt="Thumbnail" ng-click="selectThumbnail(thumbnail)">
          </div>
        </div>
        <div class="col-lg-6">
          <a href="#!accessories" style="color:#303030"><p class="fs-3" style="font-size:15px!important">Home / {{ accessorie.name2 }}</p></a>
          <h2>{{accessorie.name2}}</h2>
          <div class="stars" style="font-size:15px">
            <i class="fa-solid fa-star products-icon"></i>
            <i class="fa-solid fa-star products-icon"></i>
            <i class="fa-solid fa-star products-icon"></i>
            <i class="fa-solid fa-star products-icon"></i>
            <i class="fa-regular fa-star products-icon"></i>
          </div>
          <h5>Old Price: <span style="color:red"><strike>${{accessorie.oldprice}}</strike></span> </h5>
          <h5>New Price: <span style="color:#0089DB">${{accessorie.price}}</span></h5>

          <ul>
            <li><span style="font-weight: bold;">Color : </span> {{ accessorie.color }}</li>
            <li><span style="font-weight: bold;">Available : </span> {{ accessorie.available }}</li>
            <li><span style="font-weight: bold;">Category : </span> {{ accessorie.category }}</li>
            <li><span style="font-weight: bold;">Shiping Area : </span> {{ accessorie.shiping }}</li>
          </ul>
  
          <div class="input-group">
            <input type="number" id="quantity" class="form-control" ng-model="quantity" style="max-width: 100px; border-radius: 10px;">
            <button data-name="{{ accessorie.name2 }}" ng-click="addToCart(accessorie)" class="btn btn-primary mx-3" style="border-radius: 10px;">Add to Cart</button>
          </div>
  

        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
              <h3>About this item:</h3>
              <p>- {{accessorie.about}}</p>
              <p>- {{accessorie.about1}}</p>
              <p>- {{accessorie.about2}}</p>
              <p>- {{accessorie.about3}}</p>
            </div>
            <img src="/img/img-product/product-contact.png" alt="">
          </div>
      </div>
    </div>
  </div>
  <hr>