<div>
  <img style=" width: 100%; " src="/img/product/ourproducts-bg.png" alt="">
</div>
<div class="container pb-5">
  <div class="container">
    <div style="padding-top:40px; padding-left: 70%;">
     <b>Search Products:</b> <input type="search" placeholder="Search">
    </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6 pt-3 pb-3 d-flex justify-content-center" ng-repeat="lotion in lotions">
        <div class="product-card ">
          <a ng-href="#!/lotions/{{lotion.name}}">
            <div class="logo-cart">
              <!--<img src="images/logo.jpg" alt="logo">-->
              <i class="fa-solid fa-circle-info"></i>
            </div>
            <div class="main-images">
              <img class="default-image" src="{{ lotion.image }}" alt="{{ lotion.name }}">

              <img class="hover-image" src="{{ lotion.imagehover }}" alt="{{ lotion.name }}">
            </div>
            <div class="products-details text-center">
              <span class="product-name">{{ lotion.name2 }}</span>

              <div class="stars text-center" style="font-size:15px">
                <i class="fa-solid fa-star products-icon"></i>
                <i class="fa-solid fa-star products-icon"></i>
                <i class="fa-solid fa-star products-icon"></i>
                <i class="fa-solid fa-star products-icon"></i>
                <i class="fa-regular fa-star products-icon"></i>
              </div>
            </div>
            <div class="products-price">
              <div class="price">
                <span class="price_num">${{ lotion.price }}</span>
                <span class="price_old"><strike>${{ lotion.oldprice }}</strike></span>
              </div>
            </div>
          </a>
          <div class="button">
            <div class="button-layer"></div>
            <button data-name="{{ lotion.name2 }}" ng-click="addToCart(lotion)">Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>