<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="../css/osteoraphy.css">
   
</head>

<body ng-app="myApp">
    <div>
        <img style="width: 100%;" src="/img/services/bg-service.png" alt="">
    </div> 
    <div class="container" ng-controller="myController2">

        <div>
            <p style="font-size: 40px; font-weight: bolder; text-align: center;"> OSTEOPATHY</p>
        </div>
        <p><b>1. What is Osteopathy?</b></p>
        <div class="row">
            <div ng-repeat="x in myData" class="col-lg-8 col-md-12 col-sm-12">
                <div class="t1">{{x.osteopathy1}}</div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="img1" src="../img/beatiAid_img/osteopathy_img/OSTEOPATHY1.png" alt="">
            </div>
        </div>
        <br>
        <div class="row">
            <div ng-repeat="x in myData" class="text1 col-lg-12 col-md-12 col-sm-12">
                <div class="">{{x.osteopathy2}}</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <img class="img2" src="../img/beatiAid_img/osteopathy_img/OSTEOPATHY2.png" alt="">
            </div>
        </div>
        <br>
        <div>
            <p><b id="p">2. What does Osteopathy treat?</b></p>
        </div>
    
        <div class="row">
    
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="img3" src="../img/beatiAid_img/osteopathy_img/OSTEOPATHY3.png" alt="">
            </div>
            <div class="t2 col-lg-8 col-md-12 col-sm-12">
                <ul>
                    <li>
                        <b>Osteopathy and Newborns:</b>
                        <div ng-repeat="x in myData">
                            <div>{{x.osteopathy3}}</div>
                        </div>
                    </li>
                    <li>
                        <b>Osteopathy and Teenagers:</b>
                        <div ng-repeat="x in myData">
                            <div>{{x.osteopathy4}}</div>
                        </div>
                    </li>
                    <li>
                        <b>Osteopathy and Pregnancy:</b>
                        <div ng-repeat="x in myData">
                            <div>{{x.osteopathy5}}</div>
                        </div>
                    </li>
                    <li>
                        <b>Osteopathy and Atheletes:</b>
                        <div ng-repeat="x in myData">
                            <div>{{x.osteopathy6}}</div>
                        </div>
                    </li>
                    <li>
                        <b>Osteopathy and The elderly:</b>
                        <div ng-repeat="x in myData">
                            <div>{{x.osteopathy7}}</div>
                        </div>
                    </li>
                </ul>
            </div>
            <br>
        </div>
        <br>
        <div>
            <p><b>3. Benefits</b></p>
        </div>
    
        <ul>
            <li>
                <p><b>Oseopathy and back pain</b></p>
            </li>
        </ul>
        
        <div class="row">
            <div ng-repeat="x in myData" class="col-lg-8 col-md-12 col-sm-12">
                <div class="t3">{{x.osteopathy8}}</div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <img class="img4" src="../img/beatiAid_img/osteopathy_img/OSTEOPATHY4.png" alt="">
            </div>
        </div>
        <ul>
            <li>
                <p><b>Osteopathy and sleep</b></p>
            </li>
        </ul>
        <div class=" row">
            <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="x in myData">
                <div>{{x.osteopathy9}}</div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12" ng-repeat="x in myData">
                <div>{{x.osteopathy10}}</div>
            </div>
        </div>
    </div>
</body>

</html>