<div class="container-xxl pb-5" ng-app="myApp" ng-controller="DemoController">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12 text-center">
              <img id="product-image" ng-src="{{product.image}}" alt="Product Image" class="product-image">
            </div>
          </div>
          <div class="col-lg-12 text-center thumbnail-images">
            <img class="thumbnail" ng-repeat="thumbnail in product.thumbnails" ng-src="{{thumbnail}}" alt="Thumbnail" ng-click="selectThumbnail(thumbnail)">
          </div>
        </div>
        <div class="col-lg-6">
          <h2>{{product.productName}}</h2>
          <p>{{product.description}}</p>
          <h3>Price: {{product.price}}</h3>
          <label for="quantity">Quantity:</label>
  
          <div class="input-group">
            <input type="number" id="quantity" class="form-control" value="1" style="max-width: 100px; border-radius: 10px;">
            <button class="btn btn-primary mx-3" style="border-radius: 10px;">Add to Cart</button>
          </div>
  
          <div class="row mt-4">
            <div class="col-lg-12">
              <h3>About</h3>
              <p>{{product.about}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  